In [1]:
import pandas as pd
import os
import seaborn as sns

In [5]:
url = '../kaggle/playground-series-s4e7/'

def read_csv_file(str):
    return pd.read_csv(f'{url}{str}.csv')

In [9]:
test = read_csv_file('test')
train = read_csv_file('train')
sample_submission = read_csv_file('sample_submission')

In [24]:
train.loc[train['Response'] == 0].reset_index(drop=True)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,0,Male,21,1,35.0,0,1-2 Year,Yes,65101.0,124.0,187,0
1,2,Female,25,1,14.0,1,< 1 Year,No,38043.0,152.0,254,0
2,3,Female,35,1,1.0,0,1-2 Year,Yes,2630.0,156.0,76,0
3,4,Female,36,1,15.0,1,1-2 Year,No,31951.0,152.0,294,0
4,5,Female,31,1,47.0,1,< 1 Year,No,28150.0,152.0,197,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10089734,11504791,Female,31,1,32.0,1,< 1 Year,No,2630.0,152.0,204,0
10089735,11504792,Male,34,1,28.0,1,1-2 Year,No,29974.0,154.0,201,0
10089736,11504793,Male,48,1,6.0,0,1-2 Year,Yes,27412.0,26.0,218,0
10089737,11504795,Female,29,1,32.0,1,< 1 Year,No,2630.0,152.0,189,0
10089738,11504797,Male,25,1,28.0,1,< 1 Year,No,32855.0,152.0,189,0

In [25]:
train.columns

Index(['id', 'Gender', 'Age', 'Driving_License', 'Region_Code',
       'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
       'Policy_Sales_Channel', 'Vintage', 'Response'],
      dtype='object')